<h1>Heroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">
  <app-heroe-tarjeta [heroe]="heroe" [index]="i" (heroeSeleccionado)="verHeroe( $event )"
    *ngFor="let heroe of heroes; index as i">
    <!--
      Comunicación de hijo a padre:

      $event hace referencia a [index]: .emit(this.index); del método verHeroe() de heroe-tarjeta.component.ts
        (heroeSeleccionado)="verHeroe( $event )" hace referencia al método verHeroe() de heroes.component.ts.
       -->
  </app-heroe-tarjeta>
  <!--
    Comunicación de padre a hijo:

    Enviar información desde aqui al componente hijo heroe-tarjeta.
      [heroe] es el nombre de la propiedad en heroe-tarjeta-component.
      ="heroe" es el nombre de la variable que itera en el *ngFor
    -->
</div>
